# MongoDB with PyMongo

LSDS Unit 3 Sprint 2 Module 3


This notebook is to explore/understand MongoDB with Python. Notebooks and REPLs can be great for exploration, but for your assignment you should still turn in .py files.

Some resources:

https://docs.atlas.mongodb.com/getting-started/

https://api.mongodb.com/python/current/

HN Discussion on MongoDB versus PostgreSQL/SQLite: https://news.ycombinator.com/item?id=19158854

In [1]:
!curl ipecho.net/plain

223.39.218.224

In [2]:
!python --version

Python 3.6.9

In [3]:
!pip install pymongo pymongo[srv]

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in /home/jovyan/.local/lib/python3.6/site-packages (3.11.4)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0 in /home/jovyan/.local/lib/python3.6/site-packages (from pymongo) (1.16.0)

# Step 1: Import the necessary libraries

In [17]:
import numpy as np
import pandas as pd
import pymongo
import time

from datetime import datetime

hostname='mongodb://root:4team123!@docker-elk_mongodb_1/' # MongoClient('mongodb://CONTAINER_NAME')
database='reuters_news'

topic = 'finance' # technology
now = datetime.now()
today = now.strftime("%m_%d_%Y")
#filename = "./" + "Reuters_News_" + topic + "_" + today + ".csv"
filename = "./" + "Reuters_News_" + topic + "_" + "06_24_2021" + ".csv"

# Step 2: Connect the MongoDB

In [2]:
# Making a Connection with MongoClient
client = pymongo.MongoClient(hostname)

# database
db=client[database]

# collection
finance=db["finance"]

# Step 3: Get the Reuter News Data from CSV

In [22]:
df = pd.read_csv(filename, header=None)

In [23]:
df

,0,1,2
0,Nasdaq 100 futures scale new peak ahead of job...,Nasdaq 100 futures hit a record high on Thursd...,7:26am EDT
1,Climate 'law of laws' gets European Parliament...,The European Parliament on Thursday approved a...,7:25am EDT
2,Russia warns Britain: do not provoke us again ...,LONDON/MOSCOW (Reuters) -Russia accused Britai...,7:25am EDT
3,UK PM Johnson says British warship was acting ...,LONDON (Reuters) -British Prime Minister Boris...,7:25am EDT
4,Prince Philip's life celebrated with new Winds...,A new exhibition opening in Windsor Castle on ...,7:23am EDT
...,...,...,...
32765,Ukraine president calls for plane crash perpet...,Ukrainian President Volodymyr Zelenskiy said o...,Jan 11 2020
32766,Oman's Sultan Qaboos dies; successor vows to p...,"Oman's Sultan Qaboos bin Said, one of the Midd...",Jan 11 2020
32767,Iranian protesters demand that Khamenei quit o...,A group of Iranian protesters demanded Iran's ...,Jan 11 2020
32768,Ukrainian passenger plane shot by missile in I...,The Ukrainian passenger plane shot down by a m...,Jan 11 2020
32769,China reiterates opposition to Taiwan independ...,China's Taiwan Affairs Office reiterated its o...,Jan 11 2020

In [24]:
df.columns = ['title','content','date']

In [25]:
df.insert(loc=0, column='No', value=np.arange(len(df)))

In [26]:
df

,No,title,content,date
0,0,Nasdaq 100 futures scale new peak ahead of job...,Nasdaq 100 futures hit a record high on Thursd...,7:26am EDT
1,1,Climate 'law of laws' gets European Parliament...,The European Parliament on Thursday approved a...,7:25am EDT
2,2,Russia warns Britain: do not provoke us again ...,LONDON/MOSCOW (Reuters) -Russia accused Britai...,7:25am EDT
3,3,UK PM Johnson says British warship was acting ...,LONDON (Reuters) -British Prime Minister Boris...,7:25am EDT
4,4,Prince Philip's life celebrated with new Winds...,A new exhibition opening in Windsor Castle on ...,7:23am EDT
...,...,...,...,...
32765,32765,Ukraine president calls for plane crash perpet...,Ukrainian President Volodymyr Zelenskiy said o...,Jan 11 2020
32766,32766,Oman's Sultan Qaboos dies; successor vows to p...,"Oman's Sultan Qaboos bin Said, one of the Midd...",Jan 11 2020
32767,32767,Iranian protesters demand that Khamenei quit o...,A group of Iranian protesters demanded Iran's ...,Jan 11 2020
32768,32768,Ukrainian passenger plane shot by missile in I...,The Ukrainian passenger plane shot down by a m...,Jan 11 2020
32769,32769,China reiterates opposition to Taiwan independ...,China's Taiwan Affairs Office reiterated its o...,Jan 11 2020

In [27]:
df.set_index("No",inplace=True)

In [28]:
df

,title,content,date
No,,,
0,Nasdaq 100 futures scale new peak ahead of job...,Nasdaq 100 futures hit a record high on Thursd...,7:26am EDT
1,Climate 'law of laws' gets European Parliament...,The European Parliament on Thursday approved a...,7:25am EDT
2,Russia warns Britain: do not provoke us again ...,LONDON/MOSCOW (Reuters) -Russia accused Britai...,7:25am EDT
3,UK PM Johnson says British warship was acting ...,LONDON (Reuters) -British Prime Minister Boris...,7:25am EDT
4,Prince Philip's life celebrated with new Winds...,A new exhibition opening in Windsor Castle on ...,7:23am EDT
...,...,...,...
32765,Ukraine president calls for plane crash perpet...,Ukrainian President Volodymyr Zelenskiy said o...,Jan 11 2020
32766,Oman's Sultan Qaboos dies; successor vows to p...,"Oman's Sultan Qaboos bin Said, one of the Midd...",Jan 11 2020
32767,Iranian protesters demand that Khamenei quit o...,A group of Iranian protesters demanded Iran's ...,Jan 11 2020
32768,Ukrainian passenger plane shot by missile in I...,The Ukrainian passenger plane shot down by a m...,Jan 11 2020
32769,China reiterates opposition to Taiwan independ...,China's Taiwan Affairs Office reiterated its o...,Jan 11 2020

# Step 4: Insert the Data into Database

In [29]:
dict = df.to_dict("records")
finance.insert_one({"index":"No", "data": dict})

# How to Load data from MongoDB to pandas dataframe?

In [9]:
import numpy as np
import pandas as pd
import pymongo
import time

from datetime import datetime

hostname='mongodb://root:4team123!@docker-elk_mongodb_1/' # MongoClient('mongodb://CONTAINER_NAME')
database='reuters_news'

topic = 'finance' # technology

In [39]:
# Making a Connection with MongoClient
client = pymongo.MongoClient(hostname)

# database
db=client[database]

# collection
finance=db["finance"]

In [11]:
client.list_database_names()

['admin', 'config', 'db', 'local', 'news', 'reuters_news', 'student_database']

In [12]:
db.list_collection_names()

['finance']

In [16]:
data_from_db = finance.find_one({"index":"No"})

In [23]:
# data_from_db

In [24]:
df = pd.DataFrame(data_from_db["data"])

In [14]:
df

,title,content,date
0,Nasdaq 100 futures scale new peak ahead of job...,Nasdaq 100 futures hit a record high on Thursd...,7:26am EDT
1,Climate 'law of laws' gets European Parliament...,The European Parliament on Thursday approved a...,7:25am EDT
2,Russia warns Britain: do not provoke us again ...,LONDON/MOSCOW (Reuters) -Russia accused Britai...,7:25am EDT
3,UK PM Johnson says British warship was acting ...,LONDON (Reuters) -British Prime Minister Boris...,7:25am EDT
4,Prince Philip's life celebrated with new Winds...,A new exhibition opening in Windsor Castle on ...,7:23am EDT
...,...,...,...
32765,Ukraine president calls for plane crash perpet...,Ukrainian President Volodymyr Zelenskiy said o...,Jan 11 2020
32766,Oman's Sultan Qaboos dies; successor vows to p...,"Oman's Sultan Qaboos bin Said, one of the Midd...",Jan 11 2020
32767,Iranian protesters demand that Khamenei quit o...,A group of Iranian protesters demanded Iran's ...,Jan 11 2020
32768,Ukrainian passenger plane shot by missile in I...,The Ukrainian passenger plane shot down by a m...,Jan 11 2020
32769,China reiterates opposition to Taiwan independ...,China's Taiwan Affairs Office reiterated its o...,Jan 11 2020

# Export data to CSV from MongoDB using python

In [27]:
data_from_db = finance.find_one({"index":"No"})
df = pd.DataFrame(data_from_db["data"])
# df.set_index("No",inplace=True)
df.to_csv("test.csv")

# Drop the collection

In [28]:
db.list_collection_names()

['finance']

In [29]:
finance.drop()

In [30]:
db.list_collection_names()

[]

# Drop Database

In [31]:
# check the collection names on the database
col_list = db.list_collection_names()
print ("collections on the unwanted db:", col_list)

collections on the unwanted db: []

In [41]:
# list databases
client.list_database_names()

['admin', 'config', 'local']

In [40]:
# call MongoDB client object's drop_database() method to delete a db
client.drop_database('db') # pass db name as string